*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
/* ******************* Header ******************** */

.create_container{
    height: 100vh;
    width: 100%;
    padding: 2rem;
    background-color: rgb(241, 241, 241);
}
.header{
    display: flex;
    justify-content: space-between;
}
.Branding_heading{
    font-size: 17px;
    font-weight: 600;
}
.Branding_heading span{
    font-size: 17px;
    font-weight: 600;
    color: #256BFF;
}
.Branding_heading i{
    color: #256BFF;
    padding: 0 5px;
    font-size: 15px;
}
.Branding_heading p{
    text-transform: none;
    margin: 7px 0 10px 0;
    font-size: 13px;
    font-weight: 430;
    color: rgb(82, 79, 79);
}

.save_button a{
    text-decoration: none;
    font-size: 14px;
    height: 42px;
    padding: 6px 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color: #256BFF ;
    margin-right: 2rem;
}

/* ******************* Header ******************** */
